#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.sp {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.hmimg {
    width:40rem;
    height:30rem;
}

.marcar {
    width: 18rem; 
    margin: 2rem 2rem 0 2rem;
    height: 23.5rem;
}

img.myimg {
    width: 17.875rem;
    height: 18.75rem;
  }
/* Media Query */

/* @media only screen and (max-width: 1200px) {
    /*Tablets [601px -> 1200px]*/

@media screen and (max-width: 900px) {
    /*Big smartphones [426px -> 600px]*/
    #bancont {
        margin-top: 5rem;
    }
    
    #banner1 {
        font-size: 4rem !important;
    }

    #banner2 {
        font-size: 3.5rem !important;
    }
    
    .hmimg {
        width:30rem !important;
        height:20rem !important;
    }
}

@media screen and (max-width: 600px) {

    /*Big smartphones [426px -> 600px]*/
    #bancont {
        margin-top: 5rem;
    }

    #banner1 {
        font-size: 2.5rem !important;
    }

    #banner2 {
        font-size: 2rem !important;
    }

    .hmimg {
        width: 22rem !important;
        height: 17rem !important;
    }

}

@media screen and (max-width: 425px) {
    .hmimg {
        width: 19rem !important;
        height: 15rem !important;
    }
}

@media screen and (max-width:765px) {
    .marcar {
        margin-left: 7rem !important;
    }
}

@media screen and (max-width: 500px) and (min-width: 450px) {
    .marcar {
        margin-left: 4.5rem !important;
    }
}

@media screen and (max-width: 450px) and (min-width: 420px) {
    .marcar {
        margin-left: 3.5rem !important;
    }
}

@media screen and (max-width:420px) {
    .marcar {
        margin-left: 2.5rem !important;
    }
}

/* @media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px]*/
