<footer
        id="footer-last"
        style="margin-top: 9rem; color: white !important; font-family: Source Sans Pro,serif;"
        class="text-center text-lg-start bg-dark text-muted"
        >
        <!-- Section: Social media -->

        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <div class="container">
        <section class="">
            <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6
                    style="margin-left: -16px"
                    class="text-uppercase fw-bold mb-4"
                >
                    <i class="fas fa-gem me-3 text-secondary"></i>Addovedi
                </h6>
                <p>
                    Addovedi is an annual technical festival of NIT Arunachal
                    Pradesh, where people come up with their strong ideas and
                    opinions on science and technology.
                </p>
                <a href="/brochure" style="display: block;color:white">Download brochure</a>
                
                <a href="/timetable" style="color:white;">Download timetable</a>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Events</h6>
                <p>
                    <a href="/home/Electrical Engineering" class="text-reset">EV Exhibition</a>
                </p>
                <p>
                    <a href="/home/Computer Science and Engineering" class="text-reset">FU-Environment</a>
                </p>
                <p>
                    <a href="/home/Mechanical Engineering" class="text-reset"
                    >Science Exhibition</a
                    >
                </p>
                <p>
                    <a href="/home/Civil Engineering" class="text-reset">Hydraulics Project</a>
                </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class=" fw-bold mb-4">Competition</h6>
                <p>
                    <a href="/home/Computer Science and Engineering" class="text-reset">Computex Cup</a>
                </p>
                <p>
                    <a href="/home/Common Events" class="text-reset">Robo War</a>
                </p>
                <p>
                    <a href="/home/Electronics and Communication Engineering" class="text-reset">RC Design</a>
                </p>
                <p>
                    <a href="/home/Civil Engineering" class="text-reset">Bridge Construction</a>
                </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p>NIT AP,Jote</p>
                <p>veddiaddo@gmail.com</p>
                <p>
                    <a class="text-reset" href="https://www.instagram.com/addovedi_nitap/">
                    instagram</a
                    >
                </p>
                <p>+91 XXXXXXXXXX</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div
            class="text-center p-4"
            style="background-color: rgba(0, 0, 0, 0.025)"
        >
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="https://nitap.ac.in"
            >nitap.ac.in</a
            >
        </div>
        </div>
        <!-- Copyright -->
    </footer>